<h1>
  <%=@restaurant.name%>
</h1>
<div class="container">

  <p><strong> Address </strong>
     <%= @restaurant.address %>
  </p>
  <p><strong> Phone Number </strong>
     <%= @restaurant.phone_number %>
  </p>
  <p><strong> Category </strong>
     <%= @restaurant.category %>
  </p>
    <ul>
      <%= @restaurant.reviews.each do |review| %>
        <li><%= review.content %></li>
      <% end%>
    </ul>

    <%= link_to 'Back', restaurant_path %>
    <%= link_to "Add Review", new_restaurant_review_path(@restaurant), class: "btn btn-success" %>
</div>
